.title {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: antiquewhite;
}
.year {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: antiquewhite;
}
.snopysis {
    padding: 5px;
    background-color: azure;
}